<ion-view view-title="">
    <ion-content>


        <div class="item item-image" style="width: 101%;">
            <div>
                <h1 style="color: #D3D3D3;white-space: initial;"><b>The quickest way to a man's heart</b></h1>
                <p>
                    <i class="icon ion-ios-clock"> 10.12.2016 &nbsp;<i class="icon ion-eye"> 85</i></i>
                </p>
            </div>
        </div>


        <div class="item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/aHteXxf1zA8" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="item item-body">
            The quickest way to a man's heart is through Arya's needle. She has two speeds: Walk and Kill, and is the reason why Waldo is still hiding.
            The quickest way to a man's heart is through Arya's needle. She has two speeds: Walk and Kill, and is the reason why Waldo is still hiding.
            <br /><br />
            "A critical aspect of motion for material design is to retain the feeling of physicality without sacrificing elegance, simplicity, beauty, and the magic of a seamless user experience."
            "A critical aspect of motion for material design is to retain the feeling of physicality without sacrificing elegance, simplicity, beauty, and the magic of a seamless user experience."
            <br /><br />
            "A critical aspect of motion for material design is to retain the feeling of physicality without sacrificing elegance, simplicity, beauty, and the magic of a seamless user experience."
            "A critical aspect of motion for material design is to retain the feeling of physicality without sacrificing elegance, simplicity, beauty, and the magic of a seamless user experience."

            <br /><br /><br /><br />




        </div>

        <div class="im-wrapper">
            <h4 class="no-border no-padding-bottom">Related Videos</h4>
        </div>
        <ion-list class="animated fadeInUp">
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews1.png">
                <h2><b>Title</b></h2>
                <p>ionicMaterialMotion.blinds();</p>
                <i class="icon ion-eye muted">23</i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews2.png">
                <h2><b>Animate-ripple</b></h2>
                <p>ionicMaterialMotion.ripple();</p>
                <i class="icon ion-eye muted">155</i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews3.png">
                <h2><b>.animate-fade-slide-in</b></h2>
                <p>ionicMaterialMotion.fadeSlideIn();</p>
                <i class="icon ion-eye muted">12</i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews4.png">
                <h2><b>.animate-fade-slide-in-right</b></h2>
                <p>ionicMaterialMotion.fadeSlideInRight();</p>
                <i class="icon ion-eye muted">243</i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews5.png">
                <h2><b>.animate-fade-slide-in-right</b></h2>
                <p>ionicMaterialMotion.fadeSlideInRight();</p>
                <i class="icon ion-eye muted">23</i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews6.png">
                <h2><b>.animate-fade-slide-in-right</b></h2>
                <p>ionicMaterialMotion.fadeSlideInRight();</p>
                <i class="icon ion-eye muted text-pulling"></i>
            </ion-item>
        </ion-list>

        <br /><br />

        <ion-item class="item-image">
            <img src="img/banner.png" />
        </ion-item>
        <div class="bar bar-footer custom-dark" style="position: static; color:white;">
            <div class="title">
                <a href="http://www.htv.bg" style="text-decoration: none">Full version of HTV.bg</a>
            </div>
        </div>
    </ion-content>
</ion-view>

<button id="fab" class="button button-positive button-fab button-fab-bottom-right">
    <i class="icon ion-android-share-alt"></i>
</button>
