<ion-view view-title="">
    <ion-content>
        <ion-item class="card">
            <div class="item item-text-wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius ipsum quis mollis molestie. Etiam eget augue ex.</p>
            </div>
            <div class="item item-divider live-background">
                <h1 style="color: #fff; font-size: 22px;">Contact Form</h1>
            </div>
            <div class="item item-text-wrap">
                <form id="contact-form">
                    <input type="text" placeholder="Name" required />
                    <input type="text" placeholder="Surname" />
                    <input type="tel" placeholder="Phone" />
                    <input type="email" placeholder="E-mail" />
                    <textarea rows="8" cols="60" placeholder="Subject" required></textarea>
                    <input type="submit" value="SEND" class="button button-bar button-positive" />
                </form>
            </div>
            <div class="item item-divider live-background">
                <h1 style="color: #fff; font-size: 22px;">Other Ways</h1>
            </div>
            <div class="item item-text-wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius ipsum quis mollis molestie. Etiam eget augue ex.</p>
            </div>
            <div class="item item-body" style="line-height: 10px;">
                <div class="items-separator row card"></div>
                <mark> <i class="icon ion-home"></i> Adress ></mark>
                <p>Harmony TV</p>
                <p>St. Ivan Rilski Str.16</p>
                <p>Plovdiv 4003, Bulgaria</p>
                <div class="items-separator row card"></div>
                <mark> <i class="icon ion-android-phone-portrait"></i> Phone> </mark>
                <p>Office: 032 968649</p>
                <div class="items-separator row card"></div>
                <mark> <i class="icon ion-android-mail"></i> Internet > </mark>
                <p>Email: info@HTV.bg</p>
                <p>Web: https://HTV.bg</p>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
