
<ion-view view-title="" ng-init="loadNews()">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">{{categoryName}}</strong>
        </div>
        <a href="#/app/newsItem" style="text-decoration: none;">
            <div class="list stable-bg animated fadeInDownBig main-image-background" style="background-color:black;">
                <div class="item item-image">
                    <img ng-src="{{highlightedItem.img}}">
                    <div class="highlight-separator"></div>
                    <div>
                        <h2 style="color: #D3D3D3; white-space: initial; margin: 7px;"><b>{{highlightedItem.title}}</b></h2>
                        <p style="color:#fff; margin: 10px 5px; "> <i class="icon ion-ios-clock"> {{highlightedItem.date}}</i></p>
                    </div>
                </div>
                <!--
                <div class="item item-body" style="color: #D3D3D3;">
                    {{highlightedItem.subTitle}}
                </div>
                    -->
            </div>
        </a>
        <div class="item-block">
            <ion-list>
                <ion-item class="list animated fadeInUp custom" ng-repeat="newsItem in data.newsItems" ui-sref="app.newsItem({id: {{newsItem.id}} }" ui-sref="app.newsItem({id: {{newsItem.id}} }">
                    <ion-thumbnail item-left>
                        <img class="item-thumb col col-34 " ng-src="{{ newsItem.img }}" />
                        <i class="icon ion-play" ng-if="newsItem.duration != undefined">
                            {{ newsItem.duration }}
                        </i>
                        <!--ng-if="{{newsItem.dura
                        </i><!--ng-if="{{newsItem.duration != undefined}}"-->
                    </ion-thumbnail>
                    <div class="item-title">
                        <mark class="right">
                            <i class="icon ion-ios-clock"> {{newsItem.date}}</i>
                        </mark>
                        <h3 style="white-space: initial; margin: 5px;"><b>{{ newsItem.title }}</b></h3>
                        <!-- <p>{{ newsItem.subTitle }}</p>-->
                        <!--<ion-item ng-if="$index % 9 == 0" class="item-image">
                            <img src="img/banner.png" />
                        </ion-item>-->
                    </div>
                    <div class="items-separator row card"></div>
                </ion-item>
            </ion-list>
        </div>
        <ion-infinite-scroll immediate-check="false" ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
