<ion-view view-title="" ng-init="loadVideoItem()">
    <ion-content>
        <div class="item item-image main-image-background" style="width: 101%;">
            <vimeo-video player-id="vide3" video-url="'https://vimeo.com/97564754'" player-width="360" player-height="260"></vimeo-video>
            <div class="highlight-separator"></div>
            <div>
                <h2 class="h1-modified" style="white-space: initial; margin: 7px;">{{videoItem.title}}</h2>
                <p style="color: white; margin: 11px;"><i class="icon ion-ios-clock"> {{videoItem.date}}</i> &nbsp;<i class="icon ion-eye"> {{videoItem.readCount}}</i></p>
            </div>
        </div>
        <div class="item item-body" ng-bind-html="newsItem.content">
        </div>
        <div class="item item-body">
            {{videoItem.description}}
        </div>
        <div class="im-wrapper">
            <h4 class="no-border no-padding-bottom">{{"RelatedVideos" | translate}}</h4>
        </div>
        <ion-list class="animated fadeInUp">
            <ion-item class="list card">
                <div nav-clear menu-close class="item item-avatar list card" ng-repeat="relatedNews in relatedNewsItems" ui-sref="app.newsItem({id: {{relatedNews.id}} })">
                    <img ng-src="{{relatedNews.img}}">
                    <h3 style="color:#3a3a3a; white-space: initial;" class="h3-modified">{{relatedNews.title}}</h3>
                    <p>
                        <a href="#" class="subdued">{{relatedNews.date}}</a>
                        <a href="#" class="subdued" style="border: 1px solid red">{{relatedNews.readCount}}</a>
                    </p>
                </div>
            </ion-item>
        </ion-list>
        <br /><br />
        <ion-item class="item-image">
            <img src="img/banner.png" />
        </ion-item>
        <div class="bar bar-footer custom-dark" style="position: static; color:white;">
            <div class="title">
                <a href="http://www.htv.bg" style="text-decoration: none">Full version of HTV.bg</a>
            </div>
        </div>
    </ion-content>
</ion-view>
<button id="fab" class="button button-positive button-fab button-fab-bottom-right">
    <i class="icon ion-android-share-alt"></i>
</button>
