
/*CUSTOM styles by KVF*/
*, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Didact Gothic', sans-serif;
}

.highlight-separator {
    height: 5px;
    background-color: #FF495F;
}

h2 {
    color: #fff;
    overflow: visible;
}

.item-block {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&1+1,1+19,1+81,0.8+98,0.8+100,1+100 */
    /* background: -moz-linear-gradient(top, rgba(30,87,153,1) 1%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 98%, rgba(30,87,153,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 1%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,1) 100%);
    background: linear-gradient(to bottom, rgba(30,87,153,1) 1%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); */
    border: 5px solid #212121;
}

.main-image-background {
    background-image: url('../../../img/background-live.jpg');
    background-repeat: repeat;
}

.items-separator {
    border-bottom: 1px solid #212121;
    margin-top: 7px;
    opacity: 0.3;
    margin-left: 10px;
    margin-right: 10px;
}

.h1-modified {
    color: #fff;
    text-align: left;
    margin-left: 20px;
}

a {
    padding: 0 !important;
    margin: 0 !important;
}

.custom {
    padding: 0px;
    margin: 0;
}

/*.icon {
    color: #fff;
}
    */
.item-thumb {
    float: left;
    margin-bottom: 5px;
}

.item-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 70px;
}

.item-body {
    font-size: 16px;
    line-height: 23px;
}

.live-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat
    background: rgb(63,76,107); 
    background: -moz-linear-gradient(top, rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /
    background: linear-gradient(to bottom, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 );  */
    /*test*/
    background-image: url('../../../img/background-live.jpg');
    background-repeat: repeat-x;
}

#schedule-date {
    margin-left: 15px;
}

mark {
    padding: 5px;
    background-color: #FF495F;
    color: white;
    font-size: 1.1em;
}

.right {
    font-size: 1em;
    line-height: 25px;
}

.menu-bar {
    padding-left: 15px;
}




#contact-form input, #contact-form textarea {
    border-radius: 3px;
    width: 93%;
    height: 35px;
    border: 1px solid #8e8e8e;
    padding-left: 15px;
    margin: 8px;
}

    #contact-form input:focus, #contact-form textarea:focus {
        outline: none !important;
        background-color: #c2ffd9;
        border-color: #004488;
        box-shadow: 0 0 10px #719ECE;
    }
