
/*CUSTOM styles by KVF*/
*, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Didact Gothic', sans-serif;
}

.highlight-separator {
    height: 5px;
    background-color: #FF495F;
}

h2 {
    color: #fff;
    overflow: visible;
}

.item-block {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&1+1,1+19,1+81,0.8+98,0.8+100,1+100 */
    background: -moz-linear-gradient(top, rgba(30,87,153,1) 1%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 98%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,1) 1%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,1) 1%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 98%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    border: 5px solid #212121;
    padding: 0;
    margin: 0;
}

.main-image-background {
    background-color: #212121;
}

.items-separator {
    border-bottom: 1px solid #212121;
    margin-top: 7px;
    opacity: 0.3;
    margin-left: 10px;
    margin-right: 10px;
}

.h1-modified {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    text-align: left;
}

a {
    padding: 0 !important;
    margin: 0 !important;
}

.custom {
    padding: 0px;
    margin: 0;
}

.icon {
    color: #fff;
}

.item-thumb {
    float: left;
    margin-bottom: 5px;
}

.item-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 65px;
}

.item-body {
    font-size: 16px;
    line-height: 23px;
}
