<ion-view view-title="" ng-init="loadNewsItem()">
    <ion-content>
        <div class="item item-image main-image-background" style="width: 101%;">
            <img ng-src="{{newsItem.img}}">
            <div class="highlight-separator"></div>
            <div>
                <h2 class="h1-modified" style="white-space: initial; margin: 7px;">{{newsItem.title}}</h2>
                <p style="color: white; margin: 11px;"><i class="icon ion-ios-clock"> {{newsItem.date}}</i></p>
            </div>
        </div>
        <div class="item item-body">
            {{newsItem.content}}
        </div>
        <div class="im-wrapper">
            <h4 class="no-border no-padding-bottom">Related News</h4>
        </div>
        <ion-list class="animated fadeInUp">
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews1.png">
                <h2><b>Title</b></h2>
                <p>ionicMaterialMotion.blinds();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews2.png">
                <h2><b>Animate-ripple</b></h2>
                <p>ionicMaterialMotion.ripple();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews3.png">
                <h2><b>.animate-fade-slide-in</b></h2>
                <p>ionicMaterialMotion.fadeSlideIn();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews4.png">
                <h2><b>.animate-fade-slide-in-right</b></h2>
                <p>ionicMaterialMotion.fadeSlideInRight();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews5.png">
                <h2><b>.animate-fade-slide-in-right</b></h2>
                <p>ionicMaterialMotion.fadeSlideInRight();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
            <ion-item nav-clear menu-close class="item-icon-right item-avatar">
                <img src="img/rnews6.png">
                <h2><b>.animate-fade-slide-in-right</b></h2>
                <p>ionicMaterialMotion.fadeSlideInRight();</p>
                <i class="icon ion-chatbubble muted"></i>
            </ion-item>
        </ion-list>
        <br /><br />
        <ion-item class="item-image">
            <img src="img/banner.png" />
        </ion-item>
        <div class="bar bar-footer custom-dark" style="position: static; color:white;">
            <div class="title">
                <a href="http://www.htv.bg" style="text-decoration: none">Full version of HTV.bg</a>
            </div>
        </div>
    </ion-content>
</ion-view>
<button id="fab" class="button button-positive button-fab button-fab-bottom-right">
    <i class="icon ion-android-share-alt"></i>
</button>
