<ion-view view-title="">
    <ion-content>
        <div class="item-image" style="max-width: 100%;">
            <img src="/img/donation-banner.jpg" />
            <div class="highlight-separator"></div>
        </div>
        <div class="card item item-text-wrap">
            <p> {{ "DonationIntro" | translate}} </p>
            <h2 style="color: #666; margin-top:15px">{{ "DonationTitle" | translate}}</h2>
        </div>
        <ion-list>
            <ion-item class="card">
                <div class="item item-divider live-background">
                    <h1 style="color: #fff; font-size: 22px;">{{ "PayPal" | translate}}</h1>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ "PayPalTxt" | translate}}</p>
                </div>
                <!-- <div class="item-image" style="max-width: 100%;">
                      <img src="../img/cards.png" />
                  </div> -->
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="3NYUVMQ2PTTK8">
                    <input type="image" border="0" alt="PayPal - The safer, easier way to pay online!" name="submit" src="/img/cards.png" style="width:100%;">
                    <img width="1" height="1" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="">
                </form>
            </ion-item>
            <ion-item class="card">
                <div class="item item-divider live-background">
                    <h1 style="color: #fff; font-size: 22px;">{{ "BankTransfer" | translate}}</h1>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ "BankTransferTxt" | translate}}</p>
                </div>
                <div class="item item-body" style="line-height: 10px;">
                    <h3><mark>{{ "BGN" | translate}}</mark></h3>
                    <p>IBAN: BG73STSA93000019676002</p>
                    <p>BIC: STSABGSF</p>
                    <p>{{ "DSK" | translate}}</p>
                    <div class="items-separator row card"></div>
                    <h3><mark>{{ "EUR" | translate}}</mark></h3>
                    <p>IBAN: BG70FINV91501015165752</p>
                    <p>BIC: FINVBGSF</p>
                    <p>{{ "FIBANK" | translate}}</p>
                    <div class="items-separator row card"></div>
                    <h3><mark>{{ "USD" | translate}}</mark></h3>
                    <p>IBAN: BG87BPBI79244174109901</p>
                    <p>BIC: BPBIBGSF</p>
                    <p>{{ "EUROBANK" | translate}}</p>
                </div>
            </ion-item>
        </ion-list>
        <div class="bar bar-footer custom-dark" style="position: static; color:white;">
            <div class="title">
                <a href="http://www.htv.bg" style="text-decoration: none">{{ "FullVersion" | translate}}</a>
            </div>
        </div>
    </ion-content>
</ion-view>
