<ion-view view-title="">
    <ion-content>
        <div class="item-image" style="max-width: 100%;">
            <img src="/img/donation-banner.jpg" />
            <div class="highlight-separator"></div>
        </div>
        <div class="card item item-text-wrap">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius ipsum quis mollis molestie. Etiam eget augue ex. Cras commodo semper tincidunt. Sed eros ligula, volutpat vel auctor vitae, vulputate in eros. Integer maximus, tortor ut fringilla cursus, nibh orci pharetra quam, ac rutrum quam quam ullamcorper magna. Maecenas sem metus, feugiat vel est vel, efficitur sagittis nulla. Phasellus vestibulum urna eu nisi iaculis, nec aliquam dui aliquam. Nam maximus lacus nibh, ut placerat felis sagittis a.</p>
            <h2 style="color: #666; margin-top:15px">You may donate to HTV via some of the following methods:</h2>
        </div>
        <ion-list>
            <ion-item class="card">
                <div class="item item-divider live-background">
                    <h1 style="color: #fff; font-size: 22px;">1. PayPal or Debit/Credit card</h1>
                </div>
                <div class="item item-text-wrap">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius ipsum quis mollis molestie. Etiam eget augue ex.</p>
                </div>
                <!-- <div class="item-image" style="max-width: 100%;">
                      <img src="../img/cards.png" />
                  </div> -->
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="3NYUVMQ2PTTK8">
                    <input type="image" border="0" alt="PayPal - The safer, easier way to pay online!" name="submit" src="/img/cards.png" style="width:100%;">
                    <img width="1" height="1" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="">
                </form>
            </ion-item>
            <ion-item class="card">
                <div class="item item-divider live-background">
                    <h1 style="color: #fff; font-size: 22px;">2. Bank transfer</h1>
                </div>
                <div class="item item-text-wrap">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius ipsum quis mollis molestie. Etiam eget augue ex.</p>
                </div>
                <div class="item item-body" style="line-height: 10px;">
                    <h3><mark>BGN Account:</mark></h3>
                    <p>IBAN: BG73STSA93000019676002</p>
                    <p>BIC: STSABGSF</p>
                    <p>Bank: DSK</p>
                    <div class="items-separator row card"></div>
                    <h3><mark>EUR Account:</mark></h3>
                    <p>IBAN: BG70FINV91501015165752</p>
                    <p>BIC: FINVBGSF</p>
                    <p>Bank: FI Bank</p>
                    <div class="items-separator row card"></div>
                    <h3><mark>USD Account:</mark></h3>
                    <p>IBAN: BG87BPBI79244174109901</p>
                    <p>BIC: BPBIBGSF</p>
                    <p>Bank: Euro Bank</p>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
