<ion-view view-title="">
    <ion-content>
        <div class="item-image" style="max-width: 100%;">
            <img src="https://www.htv.bg/images/donation%201000x250-01.jpg" />
            <div class="highlight-separator"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus varius ipsum quis mollis molestie. Etiam eget augue ex. Cras commodo semper tincidunt. Sed eros ligula, volutpat vel auctor vitae, vulputate in eros. Integer maximus, tortor ut fringilla cursus, nibh orci pharetra quam, ac rutrum quam quam ullamcorper magna. Maecenas sem metus, feugiat vel est vel, efficitur sagittis nulla. Phasellus vestibulum urna eu nisi iaculis, nec aliquam dui aliquam. Nam maximus lacus nibh, ut placerat felis sagittis a.</p>
        <h3>You may donate to HTV vie some of the following methods:</h3>
        <div class="item item-divider live-background">
            <h1 style="color: #fff; font-size: 22px;">1. PayPal or Debit/Credit card</h1>
        </div>
    </ion-content>
</ion-view>
