
<ion-side-menus enable-menu-with-back-views="false" ng-init="loadCategories()">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive custom-dark">
            <ion-nav-back-button class="no-text"></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-monitor-outline" ui-sref="app.liveTv"></button>
                <button class="button button-icon button-clear ion-search" ui-sref="app.search"></button>
                <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <!--<button id="fab" class="button button-positive button-fab button-fab-bottom-right">
            <i class="icon ion-android-share"></i>
        </button>-->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="expanded">
            <img src="img/logo.png" class="avatar fade" style="top:37px; width:108px;">
            <!--<div class="menu-bottom">
                Htv.bg
            </div>-->
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <div class="menu-bar">
                <ion-list>
                    <ion-item nav-clear menu-close href="#/app/home" style="font-size:large; margin-top: 15px;">
                        <i class="icon ion-home"></i> НАЧАЛО
                    </ion-item>
                    <ion-item nav-clear menu-close href="#/app/liveTv" style="font-size:large">
                        <i class="icon ion-ios-film"></i> НА ЖИВО
                    </ion-item>
                    <a nav-clear menu-close ui-sref="app.videoList" style="text-decoration: none;">
                        <div class="item item-divider live-background ">
                            <h1 style="color: #fff; font-size: 22px;">{{"Videos" | translate}}</h1>
                        </div>
                    </a>
                    <div class="items-separator row card"></div>
                    <ion-list>
                        <ion-item nav-clear menu-close ui-sref="app.videoList({categoryName: '{{category.name}}', categoryKey: '{{category.key}}'})" ng-repeat="category in data.videoCategories track by $index" style="font-size:large">
                            {{category.name}}
                        </ion-item>
                    </ion-list>
                    <a nav-clear menu-close ui-sref="app.newsList" style="text-decoration: none;">
                        <div class="item item-divider live-background">
                            <h1 style="color: #fff; font-size: 22px;">{{"News" | translate}}</h1>
                        </div>
                    </a>
                    <div class="items-separator row card"></div>
                    <ion-list>
                        <ion-item nav-clear menu-close ui-sref="app.newsList({categoryName: '{{category.name}}', categoryKey: '{{category.key}}'})" ng-repeat="category in data.newsCategories track by $index" style="font-size:large">
                            {{category.name}}
                        </ion-item>
                    </ion-list>
                    <div class="item item-divider live-background">
                        <h1 style="color: #fff; font-size: 22px;">{{"Support" | translate}}</h1>
                    </div>
                    <div class="items-separator row card"></div>
                    <ion-list>
                        <ion-item nav-clear menu-close ng-href="#/app/donation" style="font-size:large">
                            <i class="icon ion-cash"></i> {{"Donation" | translate}}
                        </ion-item>
                    </ion-list>
                    <div class="item item-divider live-background">
                        <h1 style="color: #fff; font-size: 22px;">{{"More" | translate}}</h1>
                    </div>
                    <div class="items-separator row card"></div>
                    <ion-list>
                        <ion-item nav-clear menu-close ng-href="#/app/contacts" style="font-size:large">
                            <i class="icon ion-network"></i> {{"Contacts" | translate}}
                        </ion-item>
                    </ion-list>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
